@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');



body{
    width: 1510px;
    height: 1600px;
    width: auto;
}

#logo {
  float: left;
  margin-top: 7px;
}


main
{
    width: 100%;
    height: 100%;
}



header h1 {
    display: inline;
   font-family: 'Lobster', cursive;
   margin-left: 5px;
   margin-top: auto;
   font-style: italic;
   margin-bottom: auto;
   font-size: 35px;
   
}

#pad{
    padding-right: 8px;
}

header span {
    display: block; 
    font-size: 10px;
    text-transform: uppercase;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;

}

footer{
    background-color: white;
}
#imgf{
    float: left;
}

footer h1{
    margin-left: 5px;
    display: inline;
}
#flogo{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

button{
    display: block;
    float: right;
    margin-right: 30px;
    background-color: #cc7351;
    color: white;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: -60px;
}

footer p{
    text-align: center;
    line-height: 4px;
    font-family: 'Lora', serif;
    color: gray;
}

footer span{
    display: block;
    margin-top: 0px;
    margin-left: 5px;
    font-size: larger;
    font-family: 'Lora', serif;

}

 nav { 
    margin-top: 20px;
    float: right;

} 

#bar{
    width: 1500px;
    height: 10px;
}


main h1{
    font-family: 'Fjalla One', sans-serif;
}

main h3{
    font-family: 'Fjalla One', sans-serif;
    margin-left: 5px;
    margin-top: 1px;
    color: grey;
    line-height: 0.5px;
    font-size: small;
    text-transform: uppercase;
}

#print{
    float: right;
    margin-right: auto;
}

#print-p
{
    float: right;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif ;
    color: grey;
    margin-top: auto;
    display: inline-block;
    font-size: x-small;
}

.para-div{
    display: inline-block;
    width: 986px;
}



#main-pic{
    width: 100%;
    margin-top: 5px;
}

.para{
    text-align: left;
    white-space: pre;
    width: 100%;
   margin-left: 15px;
   color: gray;
   font-weight: bold;
   font-size: large;
}

.div-form{

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    white-space: nowrap;
    background-image: url(lab-assets/list-bg.png);
    background-size:1500px;
    width: 1500px;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 220px;
    padding: 0;
    box-shadow:0 5px gray;
    color: #555;
    font-size: 22px;
    font-family: courier, monospace;
}

.div-form input, label{

    margin-top: 15px;
}



/* .strikethrough{
    text-decoration:line-through;
  } */

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  }

.div-left{
    margin-left: 75px;
    
}

 



label{
    text-decoration: none;
    border: none;
}

#main-span{
    display: block; 
    font-size: 10px;
    text-transform: uppercase;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -23px;
}



#bar2{
    margin-top: 50px;
    width: 100%;
    height: 10px;
}



#bar2{
    margin-top: auto;
    width: 1500px;
    height: 10px;
}