
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


#logo {
  float: left;
  margin-top: 7px;
}

header h1 {
    display: inline;
   font-family: 'Lobster', cursive;
   margin-left: 5px;
   margin-top: auto;
   font-style: italic;
   margin-bottom: auto;
   font-size: 35px;
   
}

#pad{
    padding-right: 8px;
}

header span {
    display: block; 
    font-size: 10px;
    text-transform: uppercase;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;

}

footer{
    background-color: black;
}



 nav { 
    margin-top: 20px;
    float: right;

} 

#bar{
    width: 1500px;
    height: 10px;
}


main h1{
    font-family: 'Fjalla One', sans-serif;
}

main h3{
    font-family: 'Fjalla One', sans-serif;
    margin-left: 5px;
    margin-top: 1px;
    color: grey;
    line-height: 0.5px;
    font-size: small;
    text-transform: uppercase;
}

#print{
    float: right;
    margin-right: 100px;
}

#print-p
{
    display: inline;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif ;
    color: grey;
}

.para-div{
    display: inline-block;
    width: 986px;
}



#main-pic{
    width: 100%;
    margin-top: 5px;
}

.para{
    text-align: left;
    white-space: pre;
    width: 100%;
   margin-left: 15px;
   color: gray;
   font-weight: bold;
   font-size: large;
}

.div-form{
}

